#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    macros {
        word_prev: word_prev {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp LEFT>,
                <&macro_release>,
                <&kp LCTRL>;
        };

        word_next: word_next {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp RIGHT>,
                <&macro_release>,
                <&kp LCTRL>;
        };

        sel_prev_word: sel_prev_word {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL &kp LSHFT>,
                <&macro_tap>,
                <&kp LEFT>,
                <&macro_release>,
                <&kp LCTRL &kp LSHFT>;
        };

        sel_next_word: sel_next_word {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL &kp LSHFT>,
                <&macro_tap>,
                <&kp RIGHT>,
                <&macro_release>,
                <&kp LCTRL &kp LSHFT>;
        };

        sel_to_start: sel_to_start {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL &kp LSHFT>,
                <&macro_tap>,
                <&kp HOME>,
                <&macro_release>,
                <&kp LCTRL &kp LSHFT>;
        };

        sel_to_end: sel_to_end {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL &kp LSHFT>,
                <&macro_tap>,
                <&kp END>,
                <&macro_release>,
                <&kp LCTRL &kp LSHFT>;
        };

        mc_copy: mc_copy {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp C>,
                <&macro_release>,
                <&kp LCTRL>;
        };

        mc_paste: mc_paste {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp V>,
                <&macro_release>,
                <&kp LCTRL>;
        };

        mc_cut: mc_cut {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp X>,
                <&macro_release>,
                <&kp LCTRL>;
        };

        mc_undo: mc_undo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp Z>,
                <&macro_release>,
                <&kp LCTRL>;
        };

        mc_redo: mc_redo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp Y>,
                <&macro_release>,
                <&kp LCTRL>;
        };

        mc_save: mc_save {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp S>,
                <&macro_release>,
                <&kp LCTRL>;
        };

        mc_find: mc_find {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp F>,
                <&macro_release>,
                <&kp LCTRL>;
        };

        mc_select_all: mc_select_all {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp A>,
                <&macro_release>,
                <&kp LCTRL>;
        };

        vs_palette: vs_palette {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL &kp LSHFT>,
                <&macro_tap>,
                <&kp P>,
                <&macro_release>,
                <&kp LCTRL &kp LSHFT>;
        };

        vs_comment: vs_comment {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp K>,
                <&macro_release>,
                <&kp LCTRL>,
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp C>,
                <&macro_release>,
                <&kp LCTRL>;
        };

        vs_uncomment: vs_uncomment {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp K>,
                <&macro_release>,
                <&kp LCTRL>,
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp U>,
                <&macro_release>,
                <&kp LCTRL>;
        };

        vs_format: vs_format {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp K>,
                <&macro_release>,
                <&kp LCTRL>,
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp D>,
                <&macro_release>,
                <&kp LCTRL>;
        };

        vs_run: vs_run {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp F5>,
                <&macro_release>,
                <&kp LCTRL>;
        };

        vs_stop: vs_stop {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LSHFT>,
                <&macro_tap>,
                <&kp F5>,
                <&macro_release>,
                <&kp LSHFT>;
        };

        vs_term: vs_term {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp GRAVE>,
                <&macro_release>,
                <&kp LCTRL>;
        };

        vs_quick: vs_quick {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp DOT>,
                <&macro_release>,
                <&kp LCTRL>;
        };

        vs_refs: vs_refs {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LSHFT>,
                <&macro_tap>,
                <&kp F12>,
                <&macro_release>,
                <&kp LSHFT>;
        };

        vs_rename: vs_rename {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp F2>;
        };

        vs_bp: vs_bp {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp F9>;
        };

        vs_step_into: vs_step_into {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp F11>;
        };

        vs_step_over: vs_step_over {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp F10>;
        };

        vs_step_out: vs_step_out {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LSHFT>,
                <&macro_tap>,
                <&kp F11>,
                <&macro_release>,
                <&kp LSHFT>;
        };

        captureScreen: captureScreen {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_GUI &kp LEFT_SHIFT>,
                <&macro_tap>,
                <&kp S>,
                <&macro_release>,
                <&kp LMETA &kp LEFT_SHIFT>;

            label = "CAPTURESCREEN";
        };

        pasteValue: pasteValue {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp RCTRL &kp LEFT_SHIFT>,
                <&macro_tap>,
                <&kp V>,
                <&macro_release>,
                <&kp RCTRL &kp LEFT_SHIFT>;

            label = "PASTEVALUE";
        };
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp ESC         &kp N1  &kp N2        &kp N3       &kp N4          &kp N5                          &kp N6  &kp N7    &kp N8     &kp N9      &kp N0     &kp BSPC
&kp TAB         &kp Q   &kp W         &kp E        &kp R           &kp T                           &kp Y   &kp U     &kp I      &kp O       &kp P      &kp DELETE
&kp LEFT_SHIFT  &kp A   &kp S         &kp D        &kp F           &kp G                           &kp H   &kp J     &kp K      &kp L       &kp SEMI   &kp SQT
&kp RCTRL       &kp Z   &kp X         &kp C        &kp V           &kp B   &kp N        &kp M      &kp N   &kp M     &kp COMMA  &kp PERIOD  &kp SLASH  &kp ENTER
                        &kp LEFT_ALT  &pasteValue  &captureScreen  &mo 1   &kp SPACE    &kp SPACE  &mo 2   &kp LEFT  &kp DOWN   &kp RIGHT
            >;
        };

        lower_layer {
            bindings = <
&kp GRAVE   &mc_undo       &mc_cut         &mc_copy        &mc_paste    &mc_save                        &kp N7   &kp N8        &kp N9    &kp MINUS     &kp EQUAL  &trans
&caps_word  &mc_find       &word_prev      &kp UP          &word_next   &kp EQUAL                       &kp N4   &kp N5        &kp N6    &kp PLUS      &kp RBKT   &trans
&trans      &kp LCTRL      &kp LEFT        &kp DOWN        &kp RIGHT    &kp MINUS                       &kp N1   &kp N2        &kp N3    &kp ASTERISK  &kp SQT    &trans
&trans      &sel_to_start  &sel_prev_word  &sel_next_word  &sel_to_end  &trans     &kp N0    &kp COMMA  &kp DOT  &kp NUMBER_0  &kp BSLH  &kp SLASH     &trans     &trans
                           &trans          &trans          &trans       &trans     &trans    &trans     &trans   &trans        &trans    &trans
            >;
        };

        raise_layer {
            bindings = <
&kp F1    &kp F2       &kp F3     &kp F4    &kp F5        &kp F6                                 &kp F7    &kp F8    &kp F9    &kp F10    &kp F11  &kp F12
&vs_run   &vs_palette  &vs_quick  &vs_refs  &vs_rename    &vs_term                               &kp HOME  &kp UP    &kp END   &kp PG_UP  &kp INS  &trans
&vs_stop  &vs_comment  &kp LEFT   &kp DOWN  &kp RIGHT     &vs_uncomment                          &kp LEFT  &kp DOWN  &kp UP    &kp RIGHT  &kp DEL  &trans
&vs_bp    &vs_format   &kp TAB    &kp ESC   &vs_step_out  &trans         &kp PG_DN    &kp COMMA  &kp DOT   &kp FSLH  &kp BSLH  &trans     &trans   &trans
                       &trans     &mo 3     &trans        &trans         &trans       &trans     &mo 3     &trans    &trans    &trans
            >;
        };

        adjust_layer {
            bindings = <
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                    &trans  &trans  &trans  &trans  &trans  &trans
&trans      &out OUT_USB  &out OUT_BLE  &out OUT_TOG  &trans        &trans                          &trans  &trans  &trans  &trans  &trans  &trans
&trans      &trans        &trans        &trans        &trans        &trans                          &trans  &trans  &trans  &trans  &trans  &trans
&trans      &trans        &trans        &trans        &trans        &trans        &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
                          &trans        &trans        &trans        &trans        &trans    &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
