/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    left_encoder: encoder_left {
        compatible = "alps,ec11";
        a-gpios = <&pro_micro 21 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        b-gpios = <&pro_micro 20 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        steps = <60>;
    };

    right_encoder: encoder_right {
        compatible = "alps,ec11";
        a-gpios = <&pro_micro 21 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        b-gpios = <&pro_micro 20 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        steps = <60>;
    };

    sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&left_encoder &right_encoder>;
        triggers-per-rotation = <30>;
    };
};

/ {
    macros {
        tm: tm {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings
                = <&macro_press &kp LCTRL &kp LSHFT>
                , <&macro_tap &kp ESC>
                , <&macro_release &kp LCTRL &kp LSHFT>;
        };

        cad: cad {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings
                = <&macro_press &kp LCTRL &kp LALT>
                , <&macro_tap &kp DEL>
                , <&macro_release &kp LCTRL &kp LALT>;
        };

        slp: slp {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings
                = <&macro_press &kp LGUI>
                , <&macro_tap &kp X>
                , <&macro_release &kp LGUI>
                , <&macro_tap &kp U>
                , <&macro_tap &kp S>;
        };

        rst: rst {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings
                = <&macro_press &kp LGUI>
                , <&macro_tap &kp X>
                , <&macro_release &kp LGUI>
                , <&macro_tap &kp U>
                , <&macro_tap &kp R>;
        };

        off: off {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings
                = <&macro_press &kp LGUI>
                , <&macro_tap &kp X>
                , <&macro_release &kp LGUI>
                , <&macro_tap &kp U>
                , <&macro_tap &kp U>;
        };

        tab_right: tab_right {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp TAB>
                , <&macro_release &kp LCTRL>;
        };

        tab_left: tab_left {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings
                = <&macro_press &kp LCTRL &kp LSHFT>
                , <&macro_tap &kp TAB>
                , <&macro_release &kp LCTRL &kp LSHFT>;
        };

        close_tab: close_tab {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp W>
                , <&macro_release &kp LCTRL>;
        };

        ctrl_left: ctrl_left {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp LEFT>
                , <&macro_release &kp LCTRL>;
        };

        ctrl_right: ctrl_right {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp RIGHT>
                , <&macro_release &kp LCTRL>;
        };

        shift_left: shift_left {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings
                = <&macro_press &kp LSHFT>
                , <&macro_tap &kp LEFT>
                , <&macro_release &kp LSHFT>;
        };

        shift_right: shift_right {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings
                = <&macro_press &kp LSHFT>
                , <&macro_tap &kp RIGHT>
                , <&macro_release &kp LSHFT>;
        };

        cs_left: cs_left {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings
                = <&macro_press &kp LCTRL &kp LSHFT>
                , <&macro_tap &kp LEFT>
                , <&macro_release &kp LCTRL &kp LSHFT>;
        };

        cs_right: cs_right {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings
                = <&macro_press &kp LCTRL &kp LSHFT>
                , <&macro_tap &kp RIGHT>
                , <&macro_release &kp LCTRL &kp LSHFT>;
        };

        sel_home: sel_home {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings
                = <&macro_press &kp LCTRL &kp LSHFT>
                , <&macro_tap &kp HOME>
                , <&macro_release &kp LCTRL &kp LSHFT>;
        };

        sel_end: sel_end {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings
                = <&macro_press &kp LCTRL &kp LSHFT>
                , <&macro_tap &kp END>
                , <&macro_release &kp LCTRL &kp LSHFT>;
        };

        vs_run_no_debug: vs_run_no_debug {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp F5>
                , <&macro_release &kp LCTRL>;
        };

        vs_stop: vs_stop {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings
                = <&macro_press &kp LSHFT>
                , <&macro_tap &kp F5>
                , <&macro_release &kp LSHFT>;
        };

        vs_step_out: vs_step_out {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings
                = <&macro_press &kp LSHFT>
                , <&macro_tap &kp F11>
                , <&macro_release &kp LSHFT>;
        };

        vs_refs: vs_refs {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings
                = <&macro_press &kp LSHFT>
                , <&macro_tap &kp F12>
                , <&macro_release &kp LSHFT>;
        };

        vs_quick: vs_quick {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp DOT>
                , <&macro_release &kp LCTRL>;
        };

        vs_term: vs_term {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp GRAVE>
                , <&macro_release &kp LCTRL>;
        };

        vs_comment: vs_comment {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp K>
                , <&macro_release &kp LCTRL>
                , <&macro_press &kp LCTRL>
                , <&macro_tap &kp C>
                , <&macro_release &kp LCTRL>;
        };

        vs_uncomment: vs_uncomment {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp K>
                , <&macro_release &kp LCTRL>
                , <&macro_press &kp LCTRL>
                , <&macro_tap &kp U>
                , <&macro_release &kp LCTRL>;
        };

        vs_format: vs_format {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp K>
                , <&macro_release &kp LCTRL>
                , <&macro_press &kp LCTRL>
                , <&macro_tap &kp D>
                , <&macro_release &kp LCTRL>;
        };
    };
};

/ {
    behaviors {
        rgb_bri_sat_inc: rgb_bri_sat_inc {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&rgb_ug RGB_SAI>, <&rgb_ug RGB_BRI>;
            mods = <(MOD_LALT|MOD_RALT)>;
        };

        rgb_bri_sat_dec: rgb_bri_sat_dec {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&rgb_ug RGB_SAD>, <&rgb_ug RGB_BRD>;
            mods = <(MOD_LALT|MOD_RALT)>;
        };

        rgb_inc: rgb_inc {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&rgb_ug RGB_HUI>, <&rgb_bri_sat_inc>;
            mods = <(MOD_LSFT|MOD_RSFT|MOD_LCTRL|MOD_RCTRL)>;
        };

        rgb_dec: rgb_dec {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&rgb_ug RGB_HUD>, <&rgb_bri_sat_dec>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        rgb_encoder: rgb_encoder {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&rgb_inc>, <&rgb_dec>;
        };

        tab_browser: tab_browser {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&tab_left>, <&tab_right>;
        };

        pscode: pscode {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp F5>, <&kp F8>;
        };

        pwr: pwr {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp RSHFT>, <&slp>, <&rst>, <&off>;
        };

        td_btr: td_btr {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp ESC>, <&bt BT_CLR>;
        };

        td_ll_l3: td_ll_l3 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&mo 1>, <&sl 3>;
        };

        td_rl_l3: td_rl_l3 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&mo 2>, <&sl 3>;
        };

        ret_menu: ret_menu {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp RET>, <&kp K_APP>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        lscw: lscw {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LSHFT>, <&caps_word>;
        };

        rscw: rscw {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp RSHFT>, <&caps_word>;
        };

        clcw: clcw {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp CLCK>, <&caps_word>;
        };

        stm: stm {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LSHFT>, <&tm>;
        };
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp ESC     &kp N1      &kp N2      &kp N3       &kp N4       &kp N5                         &kp N6        &kp N7        &kp N8        &kp N9        &kp N0         &kp DEL
&kp TAB     &kp Q       &kp W       &kp E        &kp R        &kp T                          &kp Y         &kp U         &kp I         &kp O         &kp P          &kp BSPC
&clcw       &kp A       &kp S       &kp D        &kp F        &kp G                          &kp H         &kp J         &kp K         &kp L         &kp SEMI       &kp SQT
&lscw       &kp Z       &kp X       &kp C        &kp V        &kp B                          &kp CMUTE     &close_tab    &kp N         &kp M         &kp COMMA      &kp DOT        &kp FSLH &rscw
&kp LGUI    &kp LALT    &kp LCTRL   &td_ll_l3    &ret_menu    &kp SPACE   &kp ENTER   &td_rl_l3     &kp RCTRL     &kp RALT      &kp RGUI
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &tab_browser>;
        };

        lower_layer {
            bindings = <
&kp C_Z      &kp C_X      &kp C_C      &kp C_V        &tab_left     &tab_right                    &kp EQUAL      &kp KP_DIVIDE &kp KP_N7    &kp KP_N8    &kp KP_N9     &kp BSPC
&kp HOME     &kp LEFT     &kp DOWN     &kp UP         &kp RIGHT     &kp END                       &kp KP_PLUS    &kp KP_MULTIPLY &kp KP_N4  &kp KP_N5    &kp KP_N6     &kp KP_MINUS
&ctrl_left   &shift_left  &shift_right &ctrl_right    &cs_left      &cs_right                     &kp KP_ENTER   &kp KP_PLUS   &kp KP_N1    &kp KP_N2    &kp KP_N3     &kp KP_DOT
&kp PG_UP    &kp PG_DN    &sel_home    &sel_end       &tab_left     &close_tab                    &kp KP_N0      &kp KP_N0     &kp KP_N0    &kp COMMA    &kp INS       &kp DEL
&trans       &trans       &trans       &trans         &trans        &trans      &trans      &trans          &trans        &trans       &trans
            >;

            sensor-bindings = <&inc_dec_kp C_NEXT C_PREV &inc_dec_kp PG_UP PG_DN>;
        };

        raise_layer {
            bindings = <
&kp C_F      &kp C_H      &kp C_O      &kp C_S        &kp F5        &vs_run_no_debug              &kp F9         &kp F11       &kp F10       &vs_step_out  &kp F12        &vs_refs
&kp ESC      &kp C_Z      &kp C_X      &kp C_C        &vs_comment   &vs_uncomment                 &vs_stop       &kp F11       &kp F10       &vs_step_out  &vs_quick      &kp F2
&kp TAB      &kp HOME     &kp UP       &kp END        &kp LEFT      &kp RIGHT                     &vs_format     &tm           &cad          &vs_term      &kp F8         &kp DEL
&kp LSHFT    &kp PG_UP    &kp DOWN     &kp PG_DN      &kp F1        &kp F2                        &kp F3         &kp F4        &kp F6        &kp F7        &kp F8         &kp F9
&trans       &trans       &trans       &mo 3          &pscode       &trans      &trans      &trans          &mo 3         &trans        &trans
            >;

            sensor-bindings = <&rgb_encoder &inc_dec_kp PG_UP PG_DN>;
        };

        system_layer {
            bindings = <
&td_btr      &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4              &rgb_ug RGB_HUI &rgb_ug RGB_HUD &rgb_ug RGB_SAI &rgb_ug RGB_SAD &rgb_ug RGB_BRI &rgb_ug RGB_BRD
&kp ESC      &out OUT_USB &out OUT_BLE &out OUT_TOG &tm          &cad                      &rgb_ug RGB_TOG &rgb_ug RGB_EFF &rgb_ug RGB_SPI &rgb_ug RGB_SPD &slp            &rst
&trans       &trans       &trans       &trans       &trans       &trans                    &trans          &trans          &trans          &trans          &off            &trans
&trans       &trans       &trans       &trans       &trans       &trans                    &trans          &trans          &trans          &trans          &trans          &trans
&trans       &trans       &trans       &trans       &trans       &trans    &trans    &trans            &trans          &trans          &trans
            >;

            sensor-bindings = <&rgb_encoder &rgb_encoder>;
        };
    };
};